.App {
  text-align: center;
}
/*
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}
*/

.App-header {
  background-color: #000;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.example{
  size: 100px;
  margin-top: 5%;
}
.Main-logo{
  width: calc(100% - 150px);
  margin-top: 50px;
}

.App-link {
  color: #ff0000;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
